# 确保 Electron 核心二进制文件走国内镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# 确保 electron-builder 依赖的工具链（winCodeSign, nsis）走国内镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
